@charset "UTF-8";
/* CSS Document */
   /*

   selector {
       property: value;
       property: value;
   }

   */
   
   
   @font-face{ 
	font-family: 'Corbert-Regular-webfont';
	src: url('Corbert-Regular-webfont.eot');
	src: url('Corbert-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('Corbert-Regular-webfont.woff') format('woff'),
	     url('Corbert-Regular-webfont.ttf') format('truetype'),
	     url('Corbert-Regular-webfont.svg#webfont') format('svg');
}


   html {
       background-color: white;
   
      
   }


   body {
       color: #000000;
       width: 75%;
       margin: 20px auto;
       text-align: justify;
       background-color: #ffffff;
       padding: 20px;
       
      
   }
   
   p {
	   font-size:14px;
	   line-height:1.4em;
	   font-family: "helvetica", sans-serif;
	   font-weight:lighter;
	   word-spacing:.25;
   }
   
 
nav {
float:left;
width:25%;

}

ul {
	font-size:16px;
	font-family: 'Corbert-Regular-webfont', Helvetica, sans-serif;
	color: grey;
}
   
   .clear {
	   clear:both;
   }
   
   header {
	   padding:15px;
	   border-bottom: solid 2px #ceced1;
   }
   
   

     header h2 {
	   padding:0px;
	   font-family: 'Corbert-Regular-webfont', Helvetica, sans-serif;
	   font-weight:lighter;
	   font-size:50px;
	   color:#1220dc;
	   text-transform:capitalize;
	   margin-bottom:-5px;
	   margin-left:-15px;
	   
   }
   
   #text {
	   width:70%;
	   padding-top:5px;
	   padding-bottom:35px;
	   float:right;
   }
   
  
   footer {
	   width:100%;
	   border-top: solid 5px #ceced1;
	   margin: auto;
	   padding-top:10px;
   }
   
#primary {
    float: left;
    width: 40%;
	padding-top:0px;
	padding-left:0px;
	padding-right:5px;
	margin-top:0px;
	overflow:hidden;
}

#primary p {
	font-size:12px;
}

#content {
    float: left;
    width: 25%;
	padding-top:0px;
	padding-left:15px;
	overflow:hidden;
	margin-top:0px;
}

#content p {
	font-size:12px
}

#secondary {
    float: left;
    width: 25%;
	padding-top:0px;
	margin-top:0px;
	padding-left:15px;
	overflow:hidden;
}

#secondary p {
	font-size:12px;
}

#foot {
	padding-top:10px;
}
	


   h1 {
       color: #001966;
       letter-spacing: 1px; 
       font-family: 'Corbert-Regular-webfont', Helvetica, sans-serif;
	   text-transform:capitalize;
	   font-weight:lighter;
       margin-bottom:-10px;
   }

   h2 {
       color: #1220dc;
 	   font-family: 'Corbert-Regular-webfont', Helvetica, sans-serif;
	  text-transform:capitalize;
	  font-weight:lighter;
       word-spacing: 3px;
       letter-spacing: 2px;
       margin-top: 30px;
       
   }

   h4 {
       color: #000000;
       font-family: 'Corbert-Regular-webfont', Helvetica, sans-serif;
	   text-transform:capitalize;
	   font-weight:lighter;
      
   }

   a:link { 
       color: #7D764A;
       text-decoration:none;
   }
   a:hover { 
           color: #8F0417;
           text-decoration:none; 
		   -webkit-transition:  color 0.2s ease-in-out;
	-moz-transition:  color 0.2s ease-in-out;
	-o-transition:  color 0.2s ease-in-out;
	-ms-transition:  color 0.2s ease-in-out;
	transition:  color 0.2s ease-in-out;
   }
   a:active { 
           color: #7D764A;
           text-decoration:none; 

   }
   a:visited { 
            color: #7D764A; 
            text-decoration:none;
   }   
   
 #menu ul {
	font-family: 'Corbert-Regular-webfont', Helvetica, sans-serif;
	font-weight:lighter;
	list-style: none;
	margin: 0;
	padding: 12px 0;
	text-align: center;
}

#menu ul li {
	color: #7D764A;
	font-size: 12px;
	letter-spacing: 2px;
	padding: 12px 0;
	text-transform: uppercase;
}

#menu {
	background: white;
	display: none;
	width: 100%;
}

#bar {
	background:white;
	width: 100%;
}

#bar h1 {
	font-family: 'Corbert-Regular-webfont', Helvetica, sans-serif;
	font-weight:lighter;
	font-size: 15px;
	font-style: bold;
	letter-spacing: 4px;
	margin: 0;
	padding: 18px;
	text-align: center;
	text-transform: uppercase;
}
