/*
 * Default styles
 */
@media screen {
	
	
	html {
		background-color: #ECECEC;
	}
	
	

header {

background-color: #001b74;
padding:10px;



}

header h1 {
margin:0;
text-align:left;
font-family: 'Unica One', cursive;
color:#BFCAC2;
letter-spacing:2px;



}

h2 {
	font-family: 'Signika', sans-serif;
	color: #2C3297;
	letter-spacing: 1px;
}

h1 {
	font-family: 'Signika', sans-serif;
	color: #2C3297;
	letter-spacing: 1px;
}

h3 {
	font-family: 'Signika', sans-serif;
	color: #2C3297;
	letter-spacing: 1px;
}

nav {
background-color: #9CC7E5;
padding-top: 1px;
padding-bottom:1px;
text-align:center;
text-transform: uppercase;


}

nav ul {
list-style: none;
padding-left: 0;
}

nav li {

display: inline;
padding:5px;
font-family: 'Signika', sans-serif;
font-weight:lighter;

}

nav a:link {
color:#FFFFFF;
text-decoration:none;
}    

nav a:visited {
color:#FFFFFF;
text-decoration:none;
} 

nav a:hover {
color:#001b74;
text-decoration:none;
background-color: white;
}   

nav a:active {
color:#FFFFFF;
text-decoration:none;
} 

body {

background-color:white;
padding:0px;
font-family: helvetica;
font-weight:lighter;



}

p {
	padding:5px;
}


footer {
background-color: #191047;
color:#BFCAC2;
padding:10px;
margin:0;
font-family: 'Signika', sans-serif;

}

img {
display: block;
margin-right: auto;
margin-left: auto;
width: 80%;
}

blockquote {
	font-style: italic;
	color: #2C3297;
	font-size:18px;
	font-family: Georgia, serif;
	
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}

#content {
	letter-spacing: 1px;
	line-height: 2em;
}

ul {
	list-style:none;
	
}

li {
	font-family:"Times New Roman", Times, serif;
	font-size:large;
	color: #2C3297;
	
}

i {

color: #2C3297;

}

}

/*
 * 500px and wider
 */
@media screen and (min-width: 500px) {

nav {

text-align:center;
border-top: 1px solid black;
border-bottom: 1px solid black;



}

nav a {

padding: 1px;


}

#content {
width:98%;
text-align:justify;
padding: 5px;

}

footer {
padding:10px;
}

body {
	width: 70%;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
border: 1px solid #001b74;


}

nav ul {
list-style: none;
padding-left: 0;

}


nav li {
	font-family: 'Signika', sans-serif;
	font-size:24px;
	text-align: left;
	font-weight: lighter;
	padding:1px;
	border-bottom: 1px solid #001b74;
     border-top: 1px solid #001b74;
   

	
}


h1 {
	font-family: 'Signika', sans-serif;
     text-align: center;
	
	
}

h2  {
    text-align:center;
}

h3 {

    text-align:center;
    text-transform: uppercase;
}

header h1 {
	font-size: 60px;
	font-family: 'Unica One', cursive;
	text-align: center;
}


#content {
	letter-spacing: 1px;
	line-height: 1.5em;
}

blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 80%;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #2C3297;
}


blockquote:before {
display: block;
content: "\201C";
font-size: 75px;
position: absolute;
left: -8px;
top: -20px;
color: #7a7a7a;
}


}

/*
 * 768px and wider
 */
@media screen and (min-width: 768px) {

nav {
float:left;
width:20%;
text-align:left;
border-right: 1px solid black;
border-bottom: 1px solid black;



}

nav a {

display:block;
padding: 5px;


}

#content {
float:right;
width:75%;
text-align:justify;
padding: 5px;

}

footer {
clear:both;
padding:10px;
}

body {
	width: 70%;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
border: 1px solid #001b74;


}

nav ul {
list-style: none;
padding-left: 0;
margin-left: 0;
margin-right: 0;
width:100%;
}


nav li {
	font-family: 'Signika', sans-serif;
	font-size:24px;
	text-align: left;
	font-weight: lighter;
	padding:0;
	

	
}

header h1 {
          text-align: left;
}

h1 {
	font-family: 'Signika', sans-serif;
     text-align: left;
	
	
}

h2 { 
      text-align: left;
}



header h1 {
	font-size: 60px;
	font-family: 'Unica One', cursive;
	
}


#content {
	letter-spacing: 1px;
	line-height: 1.5em;
}

blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 80%;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #2C3297;
}


blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

ul {

text-align: justify;
list-style: circle;
width: 50%;
display: block;
margin-right: auto;
margin-left:auto;


}



}


/*
 * Print styles
 */
@media print {
	
	body {
		font-family: Helvetica, sans-serif;
	}

nav ul {
list-style: none;
padding-left: 0;
}

nav li {

display: inline;
font-family: 'Signika', sans-serif;
font-weight:lighter;

}

img {
display: block;
margin-right: auto;
margin-left: auto;
width: 50%;
height: 50%;
}

blockquote {
	font-style: italic;
	font-size:larger;
	
	
}